div{
    color: white;
}
.plans{
    background: var(--snd-bg-color);
}   
.plans-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.box{
    padding: 30px 30px 50px 30px;
    background: var(--bg--color);
    border-radius: 28px;
    border: 1px solid;
    box-shadow: 0 0 5px var(--main-color);
    transition: all 0.5s ease;
    cursor: pointer; 
}
#o{
    font-size: larger;
}
h1{
    font-size: 50px;
}
#b1
{
    
        word-spacing: 80px;
        margin-left:-5px;
        margin-top:-67px;

    
}
