.services{
    background:var(--snd-bg-color);
    }
    .heading{
        text-align: center;
        font-size: 6.5rem;
    }
    .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, auto));
        align-items: center;
        gap: 2.6 rem;
        margin-top: 4.1rem;
    }
    .row{
        background: var(--bg-color);
        border-radius: 27px;
        border: 1px solid transparent;
        box-shadow: 0 0 5px var(--main-color);
        padding:20px;
        transition: all 0.5s ease;
    }
    .row{
        height:auto;
        width: 100%;
        border-radius: 27px;
        margin-bottom: 1.4rem;
    }
    .row h4{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1.4;
    }
    .row:hover{
        border: 1px solid var(--main-color);
        transform:translateY(-5px) scale(1.04);
        cursor: pointer;
    }
    img{
        border: solid 2px ;
        border-color: white;
    }
    #b1{
            word-spacing: 80px;
            margin-left:-5px;
            margin-top:-62px;
        
    }